<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <section class="hero is-large is-primary">
      <div class="hero-head">
        {% include header.html %}
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
           More than just a think tank. 
          </h1>
          <h2 class="subtitle">
           A digital consulting, data and analytics agency.
          </h2>
        </div>
      </div>
    </section>  
    {% include footer.html %}
  </body>

</html>
